.alert-list-event{
    position: absolute;
    top: 19%;
    z-index: 11;
    display: flex;
    left:38%;
    justify-content: center;
    width: 22%;
    cursor: default;
    color: #fff !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5) !important;
    font-size: 18px !important;
    transition: all ease 0.250s;
}
.eventlist-main{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 6em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 5px 30px;
    background-color: white;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
}
.eventlist_section_header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: default;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.eventlist_section_header p{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.title-header-sect{
    font-size: 1.8em;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #5b6975;
}
/* .seventlist_section_header p:last-child{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: 0.3px;  
    color: rgb(132, 146, 166);
} */
.eventlist-search{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 2em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.eventlist-no-active{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 2em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.eventlist-old{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 2em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
}
.itemevent{
    background-color: white;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 8px;
    width: 20em;
    margin: 0.8%;
}

.itemevent_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    min-height: 12px;
    padding: 4px 8px 2px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 0.6em;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}
.itemevent_header2{
    display: flex;
    position: relative;
    min-height: 12px;
    padding: 2px 8px 0 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 0.6em;
}
.itemevent_content{
    padding: 7% 4% 8% 5%;
    font-size: 0.875rem;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}
.itemevent_title{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: default;
}
.itemevent_title svg{
    color:#ca300b;
}
.itemevent_time{
    display: flex;
    align-items: center;
    cursor: default;
    font-size: 16px;
}
.itemevent_time svg{
    color:#008000;
}
.itemevent_author{
    display: flex;
    align-items: center;
    cursor: default;
    font-size: 15px;
}
.itemevent_author svg{
    color:#3e86ff;
}
.itemevent_room{
    display: flex;
    align-items: center;
    cursor: default;
    font-size: 15px;
}
.itemevent_room svg{
    color:#ff8a00;
}
.itemevent .itemevent_title_name{
    color: rgba(0, 0, 0, 0.54);
    overflow: hidden;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    text-overflow: ellipsis;
    letter-spacing: 0.0075em;
    line-height: 1.4;
    cursor: default;
}
.itemevent_title_name:hover{
    color: red;
    cursor: pointer;
}
.itemevent_title_date{
    display: inline-block;
    cursor: default;
    color:#8484a9;
    padding: 2px 0 !important;
}
.line{
    width: 1px;
    height: 28px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.12);
}

.svgmain{
    width: 46px !important;
    font-size: 30px !important;
}
.svgall{
    width: 46px !important;
    font-size: 25px !important;
}
.padevent{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 0;
}
.nodata{
    display: flex;
    justify-content: center;
    width: 19%;
    font-size: 29px;
    padding: 28px 40px;
    background: white;
    margin: 0 auto;
    box-shadow: 0 1px 5px 0px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 0.6em;
    font-weight: bold;
    text-shadow: 0.2px 0.4px rgb(0 0 0 / 50%);
    letter-spacing: 0.4px;
    font-family: 'Spectral SC', serif;
    color: transparent;
}

.iconclose{
    font-size: 1.3rem !important;
    color:red;
}
.iconok{
    font-size: 1.3rem !important;
    color:green;
}
.itemevent_header div button  {
    padding: 9px;
}
/* Search */
.displayicons{
    display: flex;
}
.displayicon{
    font-size: 33px !important;
    padding: 0 3px;
}
.displayicon:hover{
    color: red;
    cursor: pointer;
}

.areapaper{
    padding: 2px 4px;
    display: flex;
    height: 48px;
    width: 250px;
    margin-right: 2em;
    justify-content: center;
    align-items: center;
}
.areasearchinp{
    margin-left: spacing(1);
    flex: 1;
    padding-left: 1em;
}
.areasearchicon{
    padding: 10px;
}