.alert-list-event{
    position: absolute;
    top: 19%;
    z-index: 11;
    display: flex;
    left:38%;
    justify-content: center;
    width: 22%;
    cursor: default;
    color: #fff !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5) !important;
    font-size: 18px !important;
    transition: all ease 0.250s;
}
.eventlist-main{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 6em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 24px;
    background-color: white;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
}
.eventlist_section_header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: default;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.eventlist_section_header p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0.3px;
}
/* .seventlist_section_header p:last-child{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: 0.3px;  
    color: rgb(132, 146, 166);
} */
.eventlist-search{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 2em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
}
.eventlist-no-active{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 2em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
}
.eventlist-old{
    font-family: "Ubuntu", sans-serif;
    width: 77%;
    margin: 2em auto 0em auto;
    position: relative;
    max-width: 1720px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    overflow-y: overlay;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
}
.itemevent{
    background-color: white;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 8px;
    width: 20em;
    margin: 0.8%;
}
.itemevent_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    min-height: 12px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 4px;
}
.itemevent_header2{
    display: flex;
    position: relative;
    min-height: 12px;
    padding-top: 23px;
    padding-left: 8px;
    padding-right: 4px;
}
.itemevent_content{
    padding: 3% 4% 8% 5%;
    font-size: 0.875rem;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}
.itemevent_title{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: default;
}
.itemevent_time{
    display: flex;
    align-items: center;
    cursor: default;
    font-size: 16px;
}
.itemevent_author{
    display: flex;
    align-items: center;
    cursor: default;
    font-size: 15px;
}
.itemevent_room{
    display: flex;
    align-items: center;
    cursor: default;
    font-size: 15px;
}
.itemevent_title_name{
    color: rgba(0, 0, 0, 0.54);
    overflow: hidden;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    text-overflow: ellipsis;
    letter-spacing: 0.0075em;
    line-height: 1.4;
    cursor: default;
}
.itemevent_title_date{
    display: inline-block;
    cursor: default;
    color:#0000ffa6;
}
.line{
    width: 1px;
    height: 28px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.12);
}

.svgmain{
    width: 46px !important;
    font-size: 30px !important;
}
.svgall{
    width: 46px !important;
    font-size: 25px !important;
}
.padevent{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 0;
}
.nodata{
    display: flex;
    justify-content: center;
    width: 19%;
    font-size: 29px;
    padding: 28px 40px;
    background: white;
    margin: 0 auto;
    box-shadow: 0 1px 5px 0px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 0.6em;
    font-weight: bold;
    text-shadow: 0.2px 0.4px rgb(0 0 0 / 50%);
    letter-spacing: 0.4px;
    font-family: 'Spectral SC', serif;
    color: transparent;
}