.alert-change-user{
  position: absolute;
  top: 27%;
  z-index: 11;
  display: flex;
  justify-content: center;
  width: 22%;
  cursor: default;
  color: #fff !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5) !important;
  font-size: 18px !important;
  transition: all ease 0.250s;
}
.add-change-background{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .add-change-closebutton{
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
    padding: 0.8%;
    line-height: 0;
    color: white;
    z-index: 10;
  }
  
  .add-change-modalwrapper{
    width: 47em;
    height: auto;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    position: relative;
    z-index: 10;
    border-radius: 10px;
  }
  
  .add-change-modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 2%;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
  }
  .add-change-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  .add-change-modal-close{
    font-size: 1.25rem !important;
  }
  .add-change-h2{
    font-weight: 600;
    font-size: 1.73em;
    font-family: -apple-system, BlinkMacSystemFont, "SpaceGrotesk", "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: default;
    margin-left: 4%;  
  }
  .add-change-content-form{
    height: 88%;
    display: flex;
    padding: 2% 4% 2% 4%;  
  }
  .add-change-content-form form{ 
    width: 100%;
  }
  .add-change-content-form-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
  }
  
  .add-change-content-form-name1{
    width: 70%;
    border-radius: 3.6px;
    line-height: 3.6;
    font-size: 1.1rem; 
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  
  .add-change-content-form-name2{
    width: auto;
    margin-right: 9%;  
  }

  .edt-password{
    display: flex;
    margin: auto;
    width: 85%;
    text-align: center;
    justify-content: space-evenly;
    padding: 2% 1% 1% 1%;
  }
  .border{background: whitesmoke; border-radius: 0.6em; box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);}
