@media only screen and (min-width: 2100px) {
  /* Content */
  .home-main-container-prew{
    grid-template-columns: 17em 21.5em 35em;
  }
  /* Header */
  .header-bar { height: 95px; }
  .header-bar-title { font-size: 32px;  }
  .header-bar-menu { font-size: 21px;}
  .header-bar-menu .MuiIconButton-root { padding: 4px !important; }
  .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -12px; left: -4px;}
  /* Profile */
  .profile-box-title{ font-size: 24px;}
  .profile-name h1{ font-size: 23px;}
  .profile-button {font-size: 16px;} 
  /* Scalendar */
  .scalendar-box-title{ font-size: 24px;}
  .small-calendar-add-func-event { font-size: 17px;}
  .small-calendar-titleevent { font-size: 16.5px;}
  .layer { font-size: 20px;}
    /*  */
  .home-itemevent { width: 18em;padding: 0px;}
  /* Weather */
  .info-deg { padding: 3% 3% 0% 14%;}
  .city-info {    padding: 6% 0% 6% 10%;}
  /* Login */
  .containerlogin {width: 320px; height: 440px;}
  .loginbut { padding: 2% 2% 4% 2%;}
  .icontoplogin { height: 13em;}
  .addiconlogin { font-size: 28px !important;}
  .cardlogin {     width: 58px; height: 58px;}
  .loginbut button { font-size: 18.5px;}
  .titlelogin {     margin-top: -7px;font-size: 18px;}
  .avatarlogin { width: 92px;}
  .inputtext svg {  height: 9%; width: 5.5%; }
  .contentlogin input { font-size: 17px;margin-bottom: 0;}
  /* Charts */
  .chart-title{ font-size: 24px;}
  .home-main-container-chart { grid-template-columns: 21% 34% 34%;}
  /* Event */
  .title-header-sect { font-size: 1.45em; }
  .nodata {width: 13%; font-size: 28px; padding: 20px 30px;}
  .itemevent {    width: 18em;}
  /* Dictionary */
  .dictinary-main { width: 65%;}
  .dictinary_section_header p:first-child {font-size: 1.5em;}
  .dictinary_section_header p:last-child {font-size: 1em;}
  .dictinary_section_content {}
  .dictinary_section_content2 {}
}

@media screen and (max-width: 2100px) and (min-width: 1925px) {
    /* Content */
    .home-main-container-prew{
      grid-template-columns: 17em 22em 35em;
    }
    /* Header */
    .header-bar { height: 90px; }
    .header-bar-title { font-size: 30px;  }
    .header-bar-menu { font-size: 21px;}
    /* Profile */
    .profile-box-title{ font-size: 21px;}
    .profile-name h1{ font-size: 23px;}
    .profile-button {font-size: 15px;} 
    /* Scalendar */
    .scalendar-box-title{ font-size: 21px;}
    .small-calendar-add-func-event { font-size: 16px;}
    .small-calendar-titleevent { font-size: 15.5px;}
    .layer { font-size: 19px;}
    .small-calendar-day {    font-size: 5.8rem;}

    /* Weather */
    .info-deg { padding: 4% 7% 0% 7%;}
    .city-info { padding: 6% 0% 6% 10%;}
    .flex-2day {font-size: 28px;}
    .temp {font-size: 5.5rem;}

    /* Login */
    .containerlogin {width: 335px; height: 450px;}
    .loginbut { padding: 2% 2% 0% 2%;}
    .icontoplogin { height: 13.5em;}
    .addiconlogin { font-size: 37px !important;}
    .cardlogin {     width: 70px; height: 70px;}
    .loginbut button { font-size: 20px;}
    /* Charts */
    .chart-title{ font-size: 21px;}
    .home-main-container-chart { grid-template-columns: 21% 34% 34%;}
    /* Event */  
}

@media screen and (max-width: 1925px) and (min-width: 1824px) {
      /* Content */
      .home-main-container-prew{ grid-template-columns: 16.5em 20em 35.5em;
        grid-auto-rows: minmax(335px, auto);}
      /* Header */
      .header-bar { height: 90px; }
      .header-bar-title { font-size: 30px;  }
      .header-bar-menu { font-size: 20px;}
      .header-event-big { width: 20px; height: 20px; line-height: 1.55; font-size: 15px; top: -9px; left: 1px;}
      /* Profile */
      .profile-box-title{ font-size: 21px;}
      .profile-name h1{ font-size: 22px;}
      .profile-button {font-size: 15px;} 
      /* Scalendar */
      .scalendar-box-title{ font-size: 21px;}
      .small-calendar-add-func-event { font-size: 16px;}
      .small-calendar-titleevent { font-size: 15px;}
      .layer { font-size: 17px;}
      .small-calendar-day {    font-size: 5.8rem;}
      /* Weather */
      .info-deg { padding: 4% 7% 0% 7%;}
      .city-info { padding: 6% 0% 6% 10%;}
      .flex-2day {font-size: 25px;}
      .temp {font-size: 5.45rem;}
      /* Login */
      .containerlogin {width: 322px; height: 435px;}
      .loginbut { padding: 2% 2% 0% 2%;}
      .icontoplogin { height: 13.5em;}
      .addiconlogin { font-size: 30px !important;}
      .cardlogin {     width: 60px; height: 60px;}
      .loginbut button { font-size: 20px;}
      .contentlogin input{ margin-bottom: 0; }
      /* Charts */
      .chart-title{ font-size: 21px;}
      .home-main-container-chart { grid-template-columns: 19.5% 34% 34%;
        grid-auto-rows: minmax(320px, auto);}
      .sizecharts>div>canvas { height: 230px !important;}
      .sizecharts { height: 282px !important;}
      /* Event */  
}

@media screen and (max-width: 1824px) and (min-width: 1740px) {
  /* Content */
  .home-main-container-prew{ grid-template-columns: 15.4em 21em 35em;
    grid-auto-rows: minmax(330px, auto);}
  /* Header */
  .header-bar { height: 90px; }
  .header-bar-title { font-size: 28px;  }
  .header-bar-menu { font-size: 19px;}
  .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -9px; left: 1px;}
  /* Profile */
  .profile-box-title{ font-size: 19.5px;}
  .profile-name h1{ font-size: 20px;}
  .profile-button {font-size: 15px;} 
  /* Scalendar */
  .scalendar-box-title{ font-size: 19.5px;}
  .small-calendar-add-func-event { font-size: 15.8px;}
  .small-calendar-titleevent { font-size: 15.5px;}
  .layer { font-size: 17px;}
  .small-calendar-day {    font-size: 6.2rem;}
  /* Weather */
  .info-deg { padding: 4% 7% 0% 7%;    font-size: 13.5px;}
  .city-info { padding: 5% 0% 6% 10%;}
  .flex-2day {font-size: 26px;}
  .temp {font-size: 5.5rem;}
  .icondeg {    font-size: 14px;}
  /* Login */
  .containerlogin {width: 300px; height: 430px;}
  .loginbut { padding: 2% 2% 4% 2%;}
  .icontoplogin { height: 13em;}
  .addiconlogin { font-size: 28px !important;}
  .cardlogin {     width: 58px; height: 58px;}
  .loginbut button { font-size: 18.5px;}
  .titlelogin {     margin-top: -7px;font-size: 18px;}
  .avatarlogin { width: 92px;}
  .inputtext svg {  height: 9%; width: 5.5%; }
  .contentlogin input { font-size: 17px;margin-bottom: 0;}
  /* Charts */
  .chart-title{ font-size: 19.5px;}
  .home-main-container-chart { grid-template-columns: 19.5% 34% 34%;
    grid-auto-rows: minmax(310px, auto);}
  .sizecharts>div>canvas { height: 220px !important;}
  .sizecharts { height: 275px !important;}
  /* Event */  
}

@media screen and (max-width: 1700px) and (min-width: 1600px) {
  /* Content */
  .home-main-container-prew{ grid-template-columns: 15.4em 21em 35em;
    grid-auto-rows: minmax(330px, auto);}
  /* Header */
  .header-bar { height: 90px; }
  .header-bar-title { font-size: 28px;  }
  .header-bar-menu { font-size: 19px;}
  .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -9px; left: 1px;}
  /* Profile */
  .profile-box-title{ font-size: 19.5px;}
  .profile-name h1{ font-size: 20px;}
  .profile-button {font-size: 15px;} 
  /* Scalendar */
  .scalendar-box-title{ font-size: 19.5px;}
  .small-calendar-add-func-event { font-size: 15.8px;}
  .small-calendar-titleevent { font-size: 15.5px;}
  .layer { font-size: 17px;}
  .small-calendar-day {    font-size: 6.2rem;}
  /* Weather */
  .info-deg { padding: 4% 7% 0% 7%;    font-size: 13.5px;}
  .city-info { padding: 5% 0% 6% 10%;}
  .flex-2day {font-size: 26px;}
  .temp {font-size: 5.5rem;}
  .icondeg {    font-size: 14px;}
  /* Login */
  .containerlogin {width: 300px; height: 430px;}
  .loginbut { padding: 2% 2% 4% 2%;}
  .icontoplogin { height: 13em;}
  .addiconlogin { font-size: 28px !important;}
  .cardlogin {     width: 58px; height: 58px;}
  .loginbut button { font-size: 18.5px;}
  .titlelogin {     margin-top: -7px;font-size: 18px;}
  .avatarlogin { width: 92px;}
  .inputtext svg {  height: 9%; width: 5.5%; }
  .contentlogin input { font-size: 17px;margin-bottom: 0;}
  /* Charts */
  .chart-title{ font-size: 19.5px;}
  .home-main-container-chart { grid-template-columns: 19.5% 34% 34%;
    grid-auto-rows: minmax(310px, auto);}
  .sizecharts>div>canvas { height: 220px !important;}
  .sizecharts { height: 275px !important;}
  /* Event */  
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
  /* Content */
  .home-main-container-prew{ grid-template-columns: 15em 19em 32em;
    grid-auto-rows: minmax(320px, auto);}
  /* Header */
  .header-bar { height: 90px; }
  .header-bar-title { font-size: 26px;  }
  .header-bar-menu { font-size: 17px;}
  .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -9px; left: 1px;}
  /* Profile */
  .profile-box-title{ font-size: 19px;}
  .profile-name h1{ font-size: 20px;}
  .profile-button {font-size: 15px;} 
  /* Scalendar */
  .scalendar-box-title{ font-size: 19px;}
  .small-calendar-add-func-event { font-size: 15.8px;}
  .small-calendar-titleevent { font-size: 15.5px;}
  .layer { font-size: 17px;}
  .small-calendar-day {    font-size: 5.7rem;}
  /* Weather */
  .info-deg { padding: 4% 7% 2% 7%;    font-size: 13px;}
  .city-info { padding: 5% 0% 6% 10%;}
  .flex-2day {font-size: 26px;}
  .temp {font-size: 5.2rem;}
  .icondeg {    font-size: 13px;}
  /* Login */
  .containerlogin {width: 300px; height: 430px;}
  .loginbut { padding: 2% 2% 4% 2%;}
  .icontoplogin { height: 13em;}
  .addiconlogin { font-size: 28px !important;}
  .cardlogin {     width: 58px; height: 58px;}
  .loginbut button { font-size: 18.5px;}
  .titlelogin {     margin-top: -7px;font-size: 18px;}
  .avatarlogin { width: 92px;}
  .inputtext svg {  height: 9%; width: 5.5%; }
  .contentlogin input { font-size: 17px;margin-bottom: 0;}
  /* Charts */
  .chart-title{ font-size: 19px;}
  .home-main-container-chart { grid-template-columns: 24% 38% 38%;
    grid-auto-rows: minmax(310px, auto);}
  .sizecharts>div>canvas { height: 200px !important;}
  .sizecharts { height: 255px !important;}
  /* Event */  
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    /* Content */
    .home-main-container-prew{ grid-template-columns: 14em 18em 31em;
      grid-auto-rows: minmax(305px, auto);}
    /* Header */
    .header-bar { height: 80px; }
    .header-bar-title { font-size: 24px;  }
    .header-bar-menu { font-size: 16px;}
    .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -7px; left: 1px;}
    /* Profile */
    .profile-box-title{ font-size: 18px;}
    .profile-name h1{ font-size: 19px;}
    .profile-button {font-size: 14.5px;} 
    /* Scalendar */
    .scalendar-box-title{ font-size: 18px;}
    .small-calendar-add-func-event { font-size: 15px;}
    .small-calendar-titleevent { font-size: 15px;}
    .layer { font-size: 16px;}
    .small-calendar-day {    font-size: 5.3rem;}
    /* Weather */
    .info-deg { padding: 4% 7% 2% 7%;    font-size: 13px;}
    .city-info { padding: 5% 0% 6% 10%; font-size: 13px;}
    .flex-2day {font-size: 25px;}
    .temp {font-size: 5.1rem;}
    .icondeg {    font-size: 12.4px;}
    /* Login */
    .containerlogin {width: 300px; height: 430px;}
    .loginbut { padding: 2% 2% 4% 2%;}
    .icontoplogin { height: 13em;}
    .addiconlogin { font-size: 28px !important;}
    .cardlogin {     width: 58px; height: 58px;}
    .loginbut button { font-size: 18.5px;}
    .titlelogin {     margin-top: -7px;font-size: 18px;}
    .avatarlogin { width: 92px;}
    .inputtext svg {  height: 9%; width: 5.5%; }
    .contentlogin input { font-size: 17px;margin-bottom: 0;}
    /* Charts */
    .chart-title{ font-size: 18px;}
    .home-main-container-chart { grid-template-columns: 28% 46% 46%;
      grid-auto-rows: minmax(310px, auto);}
    .sizecharts>div>canvas { height: 200px !important;}
    .sizecharts { height: 255px !important;}
    /* Event */ 
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
      /* Content */
      .home-main-container-prew{ grid-template-columns: 15em 18em;
        grid-auto-rows: minmax(295px, auto);}
      /* Header */
      .header-bar { height: 80px; }
      .header-bar-title { font-size: 22px;  }
      .header-bar-menu { font-size: 15px;}
      .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -7px; left: 1px;}
      /* Profile */
      .profile-box-title{ font-size: 17px;}
      .profile-name h1{ font-size: 18px;}
      .profile-button {font-size: 14px;} 
      /* Scalendar */
      .scalendar-box-title{ font-size: 17px;}
      .small-calendar-add-func-event { font-size: 14.5px;}
      .small-calendar-titleevent { font-size: 14px;}
      .layer { font-size: 15px;}
      .small-calendar-day {    font-size: 5rem;}
      /* Weather */
        .flex-2side{
          display: none;
        }
      /* Login */
      .containerlogin {width: 280px; height: 430px;}
      .loginbut { padding: 2% 2% 4% 2%;}
      .icontoplogin { height: 13em;}
      .addiconlogin { font-size: 26px !important;}
      .cardlogin {     width: 58px; height: 58px;}
      .loginbut button { font-size: 18px;}
      .titlelogin {     margin-top: -7px;font-size: 18px;}
      .avatarlogin { width: 92px;}
      .inputtext svg {  height: 9%; width: 5.5%; }
      .contentlogin input { font-size: 16.5px;margin-bottom: 0;}
      /* Charts */
      .chart-title{ font-size: 17px;}
      .home-main-container-chart { grid-template-columns: 60% 60%;
        grid-auto-rows: minmax(310px, auto);}
      .sizecharts>div>canvas { height: 210px !important;}
      .sizecharts { height: 255px !important;}
      /* Event */ 
      /* Cloud */
      .cloud-service { display: none;}
}

@media screen and (max-width: 900px) and (min-width: 600px) {
        /* Content */
        .home-main-container-prew{ display: none;}
        .home-main-container-calendar { margin-bottom: 3em; }
        /* Header */
        .header-bar { height: 80px; }
        .header-bar-title { font-size: 17px;  }
        .header-bar-menu { font-size: 14px;}
        .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -7px; left: 1px;}
        .header-bar-menu div { padding: 0;}
        /* Charts */
        .home-main-container-chart { display: none;}
      /* Login */
      .containerlogin {width: 280px; height: 430px;}
      .loginbut { padding: 2% 2% 4% 2%;}
      .icontoplogin { height: 13em;}
      .addiconlogin { font-size: 26px !important;}
      .cardlogin {     width: 58px; height: 58px;}
      .loginbut button { font-size: 18px;}
      .titlelogin {     margin-top: -7px;font-size: 18px;}
      .avatarlogin { width: 92px;}
      .inputtext svg {  height: 9%; width: 5.5%; }
      .contentlogin input { font-size: 16.5px;margin-bottom: 0;}

}
@media screen and (max-width: 600px) and (min-width: 480px) {
  .header-bar-title>svg { display: none; }
  .header-event-big {  display: none;}
  .header-bar-menu .MuiIconButton-root { padding: 4px !important; }
  /* Content */
  .home-main-container-prew{ display: none;}
  .home-main-container-calendar { margin-bottom: 3em; }
  /* Header */
  .header-bar { height: 80px; }
  .header-bar-title { font-size: 16px;  }
  .header-bar-menu { font-size: 13px;}
  .header-event-big { width: 18px; height: 19px; line-height: 1.55; font-size: 15px; top: -7px; left: 1px;}
  .header-bar-menu div { padding: 0;}
  /* Charts */
  .home-main-container-chart { display: none;}
      /* Login */
      .containerlogin {width: 280px; height: 430px;}
      .loginbut { padding: 2% 2% 4% 2%;}
      .icontoplogin { height: 13em;}
      .addiconlogin { font-size: 26px !important;}
      .cardlogin {     width: 58px; height: 58px;}
      .loginbut button { font-size: 18px;}
      .titlelogin {     margin-top: -7px;font-size: 18px;}
      .avatarlogin { width: 92px;}
      .inputtext svg {  height: 9%; width: 5.5%; }
      .contentlogin input { font-size: 16.5px;margin-bottom: 0;}

}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .header-bar-title>svg { display: none; }
  .header-event-big {  display: none;}
  .header-bar-menu .MuiIconButton-root { padding: 4px !important; }
  /* Content */
  .home-main-container-prew{ display: none;}
  .home-main-container-calendar { margin-bottom: 3em; }
  /* Header */
  .header-bar { height: 80px; }
  .header-bar-title { font-size: 17px;  }
  .header-bar-menu { font-size: 14px;}
  .header-event-big { width: 19px; height: 19px; line-height: 1.55; font-size: 15px; top: -7px; left: 1px;}
  .header-bar-menu div { padding: 0;}
  /* Charts */
  .home-main-container-chart { display: none;}
      /* Login */
      .containerlogin {width: 280px; height: 430px;}
      .loginbut { padding: 2% 2% 4% 2%;}
      .icontoplogin { height: 13em;}
      .addiconlogin { font-size: 26px !important;}
      .cardlogin {     width: 58px; height: 58px;}
      .loginbut button { font-size: 18px;}
      .titlelogin {     margin-top: -7px;font-size: 18px;}
      .avatarlogin { width: 92px;}
      .inputtext svg {  height: 9%; width: 5.5%; }
      .contentlogin input { font-size: 16.5px;margin-bottom: 0;}
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.cursor {
  cursor: default;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  background: #1c2237;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#da1b60));
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-track {
  background-color: #fff;
  background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

.icon-top {
  cursor: pointer;
  background-color: red;
  border-radius: 50%;
  padding: 0.8%;
  line-height: 0;
  color: white;
  z-index: 10;
  font-size: 1.6em !important;
}

.top {
  opacity: 0.6;
  position: fixed;
  bottom: 3%;
  right: 3%;
}